/* Reset a základ */
body {
  font-family: "Trebuchet MS";
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  color: #333;
}

header {
  background-color: #fdfdfd /*#5F9EA0*/;
 /* color: #333; */
  text-align: center;
  padding: 50px 20px;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  color: black;
}

header p {
  font-size: 1.2em;
  margin-top: 10px;
} 

/*les přes header */

.site-header {
  position: relative;
  height: 320px; /* výška headeru */
  background-image: url("images/pexels-airamdphoto-15888984.jpg");
  background-size: cover;      /* natáhne fotku */
  background-position: center; /* vycentruje */
  background-repeat: no-repeat;
}

/*lehce zprůhlednit obrázek lesa v headeru */

.site-header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.35); /* 35 % tmavost */
}

/* obrázky a loga
img {
  max-width: 20%;
  height: auto;
  }

.logo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 140px;
}

.logo {
  width: 160px;
  margin-bottom: 20px;
}*/

section {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

h2 {
  color: #000000;
  margin-bottom: 15px;
}

ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

a {
  color: #2a7ae2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
